<section id="about" class="about bg-darkColorSecondary text-lightColor">
  <div class="max-w-5xl container mx-auto px-10 py-10">
    <h2 class="text-6xl text-gradient font-bold text-center">about me</h2>
    <div class="flex flex-col lg:flex-row justify-between gap-8 lg:gap-16">
      <div>
        <h3 class="text-3xl text-yellowColor font-semibold italic mt-10">
          bio:
        </h3>
        <p class="my-4 text-xl lg:text-2xl">
          As a self-taught developer, I thrive on challenges and embrace the
          constant evolution of technology. My journey is driven by a deep love
          for clean code and creating seamless, visually appealing applications.
        </p>
        <p class="my-4 text-xl lg:text-2xl">
          I've embarked on a journey fueled by curiosity and a relentless
          pursuit of perfection. From the early days of wrestling with HTML and
          CSS to seamlessly integrating <span
            class="italic font-bold text-yellowColor">state-of-the-art</span
          > technologies, every line of code tells a story of growth, tenacity, and
          a deep appreciation for clean, elegant solutions.
        </p>
      </div>
      <div>
        <h3 class="text-3xl text-yellowColor font-bold italic mt-10">
          philosophy:
        </h3>
        <p class="my-4 text-xl lg:text-2xl">
          I believe that technology, when wielded with precision and creativity,
          has the power to enrich lives. My approach to development goes beyond
          functionality; it's about creating <span
            class="italic font-bold text-yellowColor"
            >immersive and intuitive</span
          > websites or web apps with cutting edge technologies that leave a lasting
          impression.
        </p>
        <blockquote
          class="text-greenColor tracking-wider text-xl mt-8 font-bold italic"
        >
          &quot; Everything is permissible &quot;
        </blockquote>
      </div>
    </div>
  </div>
</section>

<style>
  #about h2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ddd8c2;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
  }

  #about h3,
  p span {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #cf5c36;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#about",
      start: "top center",
      end: "bottom top",
      toggleActions: "play none play reverse",
    },
    defaults: { ease: "circ", duration: 1, yoyo: true },
  });

  tl.from(["#about h2", "#about p", "#about h3", "#about blockquote"], {
    opacity: 0,
    yPercent: 100,
    stagger: 0.02,
  });

  // tl.from(["#about h2", "#about p", "#about h3", "#about blockquote"], {
  //   opacity: 0,
  //   yPercent: 100,
  //   stagger: 0.02,
  // }).from(
  //   "#about blockquote",
  //   {
  //     scale: 1.2,
  //     delay: 1,
  //   },
  //   "<"
  // );
</script>
