<section id="contact" class="bg-darkColorTertiary text-lightColor">
  <div class="max-w-5xl container mx-auto px-10 py-10">
    <h2 class="text-6xl text-gradient font-bold text-center">
      reach out to me
    </h2>
    <p class="email text-2xl lg:text-5xl my-10 text-center">
      Reach out to me via email at <a
        class="italic text-slate-200 inline-block"
        href="mailto:morteykafui@gmail.com">morteykafui@gmail.com</a
      >
    </p>
    <h3 class="text-4xl text-gradient mt-16 my-8 font-bold text-center">
      let&apos;s get interactive
    </h3>
    <div
      class="max-w-xl mx-auto container px-10 py-4 grid grid-cols-2 lg:grid-cols-5 gap-10 place-items-center text-center font-bold"
    >
      <p
        class="flex flex-col items-center justify-center gap-4 text-slate-200 text-2xl"
      >
        <a
          class="hover:scale-110 hover:-translate-y-2 transition-all duration-500"
          href="htps://twitter.com/mortdotdev"
          target="_blank"
        >
          <img src="/assets/icons/x-icon.svg" alt="x-icon" /></a
        >
        X/Twitter
      </p>
      <p
        class="flex flex-col items-center justify-center gap-4 text-slate-200 text-2xl"
      >
        <a
          class="hover:scale-110 hover:-translate-y-2 transition-all duration-500"
          href="https://www.youtube.com/@mortdotdev"
          target="_blank"
        >
          <img src="/assets/icons/youtube-icon.svg" alt="youtube-icon" /></a
        >
        Youtube
      </p>
      <p
        class="flex flex-col items-center justify-center gap-4 text-slate-200 text-2xl"
      >
        <a
          class="hover:scale-110 hover:-translate-y-2 transition-all duration-500"
          href="https://github.com/MorteyKafui"
          target="_blank"
        >
          <img src="/assets/icons/github-white-icon.svg" alt="github-icon" /></a
        >
        Github
      </p>
      <p
        class="flex flex-col items-center justify-center gap-4 text-slate-200 text-2xl"
      >
        <a
          class="hover:scale-110 hover:-translate-y-2 transition-all duration-500"
          href="https://www.linkedin.com/in/kafui-mortey-186160194"
          target="_blank"
        >
          <img src="/assets/icons/linkedin-icon.svg" alt="linkedin-icon" /></a
        >
        LinkedIn
      </p>
      <p
        class="flex flex-col items-center justify-center gap-4 text-slate-200 text-2xl"
      >
        <a
          class="hover:scale-110 hover:-translate-y-2 transition-all duration-500"
          href="https://www.tiktok.com/@mortdotdev?is_from_webapp=1&sender_device=pc"
          target="_blank"
        >
          <img src="/assets/icons/tiktok-icon.svg" alt="tiktok-icon" /></a
        >
        Tiktok
      </p>
    </div>
  </div>
</section>

<style>
  #contact h2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ddd8c2;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
  }
  .email a {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #cf5c36;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#contact",
      start: "top center",
      end: "bottom top",
      toggleActions: "play none play reverse",
    },
    defaults: { ease: "back", duration: 1, yoyo: true },
  });

  tl.from(["#contact h2", "#contact p", "#contact h3"], {
    opacity: 0,
    yPercent: 100,
    stagger: 0.2,
  });
</script>
