<header class="bg-darkColorPrimary text-lightColor lg:text-3xl">
  <div
    class="max-w-5xl container mx-auto px-10 py-10 flex justify-center lg:justify-between gap-10 items-center h-[100vh] flex-col lg:flex-row"
  >
    <div
      class="flex flex-col items-center gap-7 lg:gap-10 order-1 lg:order-none text-center"
    >
      <h1 class="text-5xl lg:text-9xl">
        hi there!,<br /> i&apos;m <span
          class="text-yellowColor tracking-wider italic">Kafui,</span
        >
      </h1>
      <p>
        a <span class="text-yellowColor tracking-wider italic"
          >self-taught frontend developer</span
        > based in Ghana.
      </p>
      <div class="btns flex flex-col lg:flex-row gap-4 lg:gap-8 items-center">
        <a
          class="px-10 py-3 text-darkColorSecondary font-bold hover:scale-110 transition-all duration-700 flex items-center gap-4 justify-between"
          href="https://www.youtube.com/@mortdotdev"
          target="_blank"
        >
          <img
            class="w-5 h-5 lg:w-8 lg:h-8"
            src="/assets/icons/youtube-icon.svg"
            alt="github icon"
          />
          <span class="text-2xl">free tutorials</span></a
        >
        <a
          class="px-10 py-3 text-darkColorSecondary font-bold hover:scale-110 transition-all duration-700 flex items-center text-center gap-4 justify-between"
          href="https://github.com/MorteyKafui"
          target="_blank"
        >
          <img
            class="w-5 h-5 lg:w-8 lg:h-8"
            src="/assets/icons/github-icon.svg"
            alt="github icon"
          />
          <span class="text-2xl">github repo</span></a
        >
      </div>
    </div>
    <div class="profile-pic">
      <img
        class="w-48 h-auto lg:w-80 lg:h-auto my-10 lg:my-0"
        src="/assets/images/mk.jpg"
        alt="Mortdotdev profile"
      />
    </div>
  </div>
</header>

<style>
  h1 span,
  p span {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgba(207, 93, 54, 1);
    text-decoration-thickness: 8px;
    text-decoration-skip-ink: none;
  }

  .btns a {
    border-radius: 6.25rem;
    background: linear-gradient(-310deg, #d8b828 40%, #cf5c36 58%);
  }

  .profile-pic img {
    transform: rotate(-15deg);
    border-radius: 50px;
    border: 5px solid #ffb514;
    -webkit-box-shadow: 0px 0px 100px 40px rgba(255, 181, 20, 0.3);
    -moz-box-shadow: 0px 0px 100px 40px rgba(255, 181, 20, 0.3);
    box-shadow: 0px 0px 100px 40px rgba(255, 181, 20, 0.3);
  }
</style>

<script>
  import { gsap } from "gsap";

  const tl = gsap.timeline({
    defaults: {
      yoyo: true,
      ease: "circ.inOut",
      duration: 1,
    },
  });

  tl.from("header h1", {
    opacity: 0,
    xPercent: -100,
    scale: 1.2,
    stagger: 0.1,
  })
    .from("header p", {
      opacity: 0,
      yPercent: 100,
      scale: 1.2,
      stagger: 0.1,
    })
    .from("header .btns", {
      opacity: 0,
      yPercent: 200,
    })
    .from(
      "header .profile-pic img",
      { ease: "back", duration: 1.2, stagger: 0.01, scale: 2 },
      "-=3"
    );
</script>
