<section id="tech-stack" class="bg-darkColorTertiary text-lightColor">
  <div class="max-w-5xl container mx-auto px-10 py-10">
    <h2 class="text-6xl text-gradient font-bold text-center">
      built with love
    </h2>
    <p class="text-xl lg:text-3xl my-10 text-center">
      Built with <span>precision and innovation,</span> my website showcases a blend
      of <span>cutting-edge technologies.</span>
    </p>

    <div
      class="text-2xl lg:text-4xl text-slate-200 max-w-xl mx-auto container px-10"
    >
      <h3 class="text-3xl text-yellowColor font-bold italic mt-10">
        tech stack:
      </h3>
      <ul
        class="grid grid-cols-2 lg:grid-cols-3 place-content-center gap-4 my-5 font-bold"
      >
        <li class="hover:text-lightColor transition-all duration-700">
          <a href="https://astro.build" target="_blank">astro</a>
        </li>
        <li class="hover:text-lightColor transition-all duration-700">
          <a href="https://tailwindcss.com" target="_blank">tailwindcss</a>
        </li>
        <li class="hover:text-lightColor transition-all duration-700">
          <a href="https://ui.shadcn.com" target="_blank">shadcn</a>
        </li>
        <li class="hover:text-lightColor transition-all duration-700">
          <a href="https://react.dev" target="_blank">reactjs</a>
        </li>
        <li class="hover:text-lightColor transition-all duration-700">
          <a href="https://gsap.com" target="_blank">gsap</a>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  #tech-stack h2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #ddd8c2;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
  }
  #tech-stack p span,
  #tech-stack h3 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #cf5c36;
    text-decoration-thickness: 5px;
    text-decoration-skip-ink: none;
  }
</style>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: "#tech-stack",
      start: "top center",
      end: "bottom top",
      toggleActions: "play reverse play reverse",
    },
    defaults: { ease: "back", duration: 1, yoyo: true },
  });

  tl.from(["#tech-stack h2", "#tech-stack p", "#tech-stack h3"], {
    opacity: 0,
    yPercent: 100,
    stagger: 0.2,
  }).fromTo(
    "#tech-stack ul li",
    { yPercent: 100, opacity: 0 },
    { opacity: 1, stagger: 0.1, color: "#F4C520", yPercent: 0 },
    "<"
  );
</script>
