---
import Navbar from "@/components/Navbar.astro";
import "/src/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>Mortdotdev</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
    </main>
  </body>
</html>
