---
import Navbar from "@/components/Navbar.astro";
import "/src/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";

const { title = "Mortdodev | Home" } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
      <Footer />

      <button class="scroll-to-top">
        <span>&#9650;</span>
      </button>
    </main>

    <script>
      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }

      document.addEventListener("scroll", () => {
        const scrollButton =
          document.querySelector<HTMLButtonElement>(".scroll-to-top")!;

        if (window.scrollY > 300) {
          scrollButton.style.display = "block";
        } else {
          scrollButton.style.display = "none";
        }
      });

      document
        .querySelector(".scroll-to-top")!
        .addEventListener("click", scrollToTop);
    </script>
    <style>
      .scroll-to-top {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #cf5c36; /* Button background color */
        color: #2d2928; /* Button text color */
        border: none;
        border-radius: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 20px;
        transition: all 0.2s ease-in;
        display: none;
      }

      #scrollToTopBtn:hover {
        background-color: #ffb514; /* Button background color on hover */
      }
    </style>
  </body>
</html>
