---
import Navbar from "@/components/Navbar.astro";
import "/src/styles/globals.css";
import { ViewTransitions } from "astro:transitions";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Pacifico&display=swap"
      rel="stylesheet"
    />
    <title>Mortdotdev</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <Navbar />
      <slot />
      <Footer />

      <button class="scroll-to-top">
        <span>&#9650;</span>
      </button>
    </main>

    <script>
      function scrollToTop() {
        window.scrollTo({
          top: 0,
          behavior: "smooth",
        });
      }

      document.addEventListener("scroll", () => {
        const scrollButton =
          document.querySelector<HTMLButtonElement>(".scroll-to-top")!;

        if (window.scrollY > 300) {
          scrollButton.style.display = "block";
        } else {
          scrollButton.style.display = "none";
        }
      });

      document.addEventListener("click", scrollToTop);
    </script>
  </body><style>
    .scroll-to-top {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #cf5c36; /* Button background color */
      color: #2d2928; /* Button text color */
      border: none;
      border-radius: 100%;
      padding: 10px;
      cursor: pointer;
      font-size: 20px;
      transition: all 0.2s ease-in;
      display: none;
    }

    #scrollToTopBtn:hover {
      background-color: #ffb514; /* Button background color on hover */
    }
  </style>
</html>
